{% extends "header.html" %}
 
{% block body%} 
<style>
 .required{
 display:inline-block;
 position:relative;
   
}
.required label:after
{
color:red;
content:"*";
display:block
position:absolute;
right:-.6em;
top:0;
}
.borderless table {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}
.borderless tr {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}
.borderless td {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}
</style>
   <script type="text/javascript">
var nowDate = new Date();
var today = new Date( nowDate.getMonth(), nowDate.getDate(),nowDate.getFullYear(), 0, 0, 0, 0);
//initializing datepicker
$('.datepicker').datepicker({format:'mm-dd-yyyy', startDate: today });

   </script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<body>
 

	<div class="panel panel-primary">
	<div class="panel-heading"><center>Candidate tracker</center></div>
	<div class="panel body">
<center>	<button style="width:120px; margin-left:10px; margin-top:10px"class="btn btn-info" data-toggle="collapse" data-target="#consoleinfo" aria-expanded="false" aria-controls="consoleinfo"><span >&#10009;</span></button></center>
	<div class="collapse" id="consoleinfo">
		<center><form name="Form"action="/testpage/" class=" form-panel" method="POST" style=" align:center; margin-left:20px; margin-top:20px">
		
		<center>
		<table  class="table" style=" align:center; margin-left:0px; width:90%"><tr class="active">
		   <td ><div class="required"><label>Candidate Name</label></div></td>
			<td><input style="width:300px" type="text" class="form-control" placeholder = "Name" value="" name="username" title="Name must have greater than 3 characters and should only contain letters" required pattern="[A-Za-z]+[A-Za-z ]{2,20}"
			></td>
			</tr>
			<tr class="active">
			<td><div class="required"><label>Experience in years</label></div></td>
		<td><input style="width:300px" type="number" class="form-control" placeholder = "Experience In Years" name="exp" value="" min="0" required></td>
			</tr>
			<tr class="active">
			<td><label>Preferred job location</label></td>
			<td>
			  <select name="City" required title="please choose a valid location">
			   <option value="">None</option>
    <option value="Bangalore">Bangalore</option>
    <option value="Chennai">Chennai</option>
    <option value="Gurgaon">Gurgaon</option>
    <option value="Mumbai">Mumbai</option>
  </select>
  </td>
  </tr>
  <tr class="active">
  <td><label>Date when the candidate can join</label></td>
  <td><input min="{{z}}" style="width:300px" id="StartDate" type="date" class="form-control" placeholder = "" name="date" value="" required></td>
  </tr>
  <tr class="active">
  <td><label>Skills</label></td>
  <td><input type="checkbox" name="java" value="JAVA"> JAVA<br>
  <input type="checkbox" name="java" value="PYTHON"> Python<br>
   <input type="checkbox" name="java" value="HTML"> HTML<br>
    <input type="checkbox" name="java" value="CSS"> CSS<br>
	 <input type="checkbox" name="java" value="ANGULAR"> ANGULAR<br>
  </td>
  </tr>
  <tr class="active">
  <td><label>Gender</label></td>
  <td>
  <input type="radio" name="gender" value="male" checked> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="other"> Other
  
  </td>
  
  </tr>
  <tr class="active">
  
  
			
			</tr>
			</table>
			<center><td><input  class ="btn btn-primary " type="reset" value="Reset" style="width:120px"></td>
			<td><input  style="width:120px" class="btn btn-success" type="submit" value="Submit"></td></center>
			</center>
			</div>
		</form>
		</center>
		</div>
		</div>
	</div>
	
	</div>
</body>


{%endblock%}